Repository that70schris/arcade: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

fix shell control
  package.json
Due: none

fix import/export
  package.json
  themes/Arcade.scss
Due: stylelint --fix

fix meta functions
  demos/asdf.ts
  package.json
  themes/Arcade.scss
Due: stylelint --fix, eslint --fix

fix import/export css
  package.json
  themes/Arcade.scss
Due: stylelint --fix

fixed deep finally
  demos/asdf.scss
  grammars/css.ts
  package.json
  themes/Arcade.scss
  tokens.ts
Due: stylelint --fix, eslint --fix

make in/of match for
  package.json
  themes/Arcade.scss
Due: stylelint --fix

fix import functions
  package.json
  themes/Arcade.scss
Due: stylelint --fix

update
  package.json
Due: none

fix object keys
  package.json
  themes/Arcade.scss
Due: stylelint --fix

fix intellicense
  package.json
  themes/Arcade.color-theme.json
  themes/Arcade.icon-theme.json
Due: none

remove icon theme for now
  Makefile
  package.json
  themes/Arcade.icon-theme.json
Due: none

republish
  package.json
Due: none

remove defaults
  .prettierrc.yml
  package.json
Due: none

fix tokens path
  package.json
  themes/Arcade.color-theme.json
Due: none

allow semantic highlighting
  package.json
  themes/Arcade.color-theme.json
Due: none

make static colors
  package.json
  themes/Arcade.color-theme.json
Due: none

Path conditions:
  prettier --write: any of: ./**/*.html
  stylelint --fix: any of: ./**/*.*css
  eslint --fix: any of: ./**/*.ts
