Repository that70schris/arcade: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.{scss,css}: stylelint --fix
./**/*.{yaml,yml}: prettier --write
./**/*.[cm][jt]s: eslint --fix
./**/*.[jt]s: eslint --fix

evergreen
  package.json
  pnpm-lock.yaml
Due: prettier --write

update packages
  package.json
Due: none

update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

updates
  src/themes/process.ts
  tsconfig.json
Due: eslint --fix

fix terminal colors
  src/themes/Arcade Light.color-theme.json
  src/themes/Arcade.color-theme.json
Due: none

v1.7.0
  package.json
Due: none

v1.7.0
  .github/workflows/publish.yml
  package.json
Due: prettier --write

1.7.1
  package.json
Due: none

1.7.1
  .github/workflows/publish.yml
  Makefile
  package.json
Due: prettier --write

evergreen
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

evergreen
  pnpm-lock.yaml
Due: prettier --write

update lint-staged
  .lintstagedrc.yml
Due: prettier --write

evergreen
  .github/dependabot.yml
  .lintstagedrc.yml
  .npmrc
  .prettierignore
  .prettierrc.yml
  game.jpeg
  pnpm-lock.yaml
Due: prettier --write

consolidate lintstaged
  .lintstagedrc.yml
Due: prettier --write

updates
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

updates
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

1.8.0
  .github/workflows/publish.yml
  .prettierrc.yml
  package.json
Due: prettier --write

1.9.1
  package.json
Due: none

fix versioning
  .github/workflows/publish.yml
Due: prettier --write

1.10.0
  .github/workflows/publish.yml
  package.json
Due: prettier --write

1.10.1
  package.json
Due: none

1.10.1
  .github/workflows/publish.yml
Due: prettier --write

1.10.2
  package.json
Due: none

updates
  pnpm-lock.yaml
Due: prettier --write

evergreen
  pnpm-lock.yaml
  src/themes/process.ts
Due: prettier --write, eslint --fix

1.10.3
  package.json
Due: none

updates
  .husky/pre-commit
  pnpm-lock.yaml
Due: prettier --write

fix list backgrounds
  src/themes/Arcade Light.color-theme.json
  src/themes/Arcade.color-theme.json
Due: none

1.10.4
  package.json
Due: none
