Repository that70schris/arcade: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, tslint --fix

.lintstagedrc.yml:

./**/*.html: ['prettier --write', 'git add']
./**/*.scss: ['stylelint --fix', 'git add']
./**/*.ts:
  - eslint --fix
  - tslint --fix
  - git add

fix css selectors
  .gitignore
  .vscode/tasks.json
  demos/asdf.css
  package.json
  theme.ts
  themes/Arcade.json
  themes/Arcade.tmTheme
  themes/Arcade.tokens
  tokens.ts
Due: eslint --fix, tslint --fix

fix html attributes
  package.json
  themes/Arcade.css
  themes/Arcade.tokens
  tokens.ts
Due: eslint --fix, tslint --fix

fix selector puncuation
  package.json
  themes/Arcade.css
  themes/Arcade.tokens
Due: none

add lint tasks
  package.json
  themes/Arcade.css
  themes/Arcade.tokens
Due: none

fix attribute selector
  .vscode/tasks.json
  package.json
  themes/Arcade.css
  themes/Arcade.tokens
Due: none

fix css
  demos/asdf.css
  demos/nginx.conf
  grammars/nginx.json
  package.json
  themes/Arcade.css
  themes/Arcade.scss
  themes/Arcade.tokens
Due: stylelint --fix

adding more grammers
  grammars/css.json
  grammars/nginx.json
  package.json
  themes/Arcade.css
  themes/Arcade.scss
  themes/Arcade.tokens
Due: stylelint --fix

fixed embedded javascript
  .prettierrc.yml
  .stylelintrc.yml
  .vscode/launch.json
  .vscode/settings.json
  .vscodeignore
  demos/asdf.html
  grammars/css.json
  grammars/html.json
  grammars/javascript.json
  grammars/nginx.json
  package.json
  themes/Arcade.css
  themes/Arcade.json
  themes/Arcade.scss
  themes/Arcade.tokens
Due: prettier --write, stylelint --fix

map property names to token settings
  .stylelintrc.yml
  package.json
  themes/Arcade.css
  themes/Arcade.scss
  themes/Arcade.tokens
  tokens.ts
Due: stylelint --fix, eslint --fix, tslint --fix

fix actual support constants
  package.json
  themes/Arcade.css
  themes/Arcade.scss
  themes/Arcade.tokens
Due: stylelint --fix

add helm support
  package.json
  themes/Arcade.css
  themes/Arcade.scss
  themes/Arcade.tokens
Due: stylelint --fix

fix characters
  package.json
  themes/Arcade.css
  themes/Arcade.scss
  themes/Arcade.tokens
Due: stylelint --fix

fix deep
  grammars/css.json
  package.json
Due: none

use Pacman theme
  .vscode/settings.json
Due: none

fix html
  grammars/html.json
  package.json
Due: none

javascript in html attributes still not working
  grammars/html.json
  package.json
Due: none

generate json with typescript
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  .vscodeignore
  Makefile
  grammars/css.json
  grammars/css.ts
  grammars/html.json
  grammars/html.ts
  grammars/javascript.json
  grammars/nginx.json
  grammars/nginx.ts
  package.json
  themes/Arcade.css
  themes/Arcade.json
  themes/Arcade.tokens
  tokens.ts
Due: eslint --fix, tslint --fix

fixed Math
  Makefile
  package.json
  themes/Arcade.scss
Due: stylelint --fix

add some symbolIcon colors
  .gitignore
  package.json
  themes/Arcade.json
Due: none

update prettier
  package.json
Due: none

fix 'deep'
  demos/asdf.css
  grammars/css.ts
  package.json
Due: eslint --fix, tslint --fix

update
  .eslintrc.yml
  .npmrc
  package.json
  tslint.yml
Due: none

remove tslint
  .editorconfig
  .eslintrc.yml
  package.json
  themes/Arcade.scss
  tslint.yml
Due: stylelint --fix

add psuedo selectors
  grammars/css.ts
  grammars/html.ts
  grammars/nginx.ts
  package.json
  themes/Arcade.scss
Due: stylelint --fix, eslint --fix, tslint --fix

fix attribute brackets
  grammars/html.ts
  package.json
Due: eslint --fix, tslint --fix

add symbol icon colors
  grammars/css.ts
  package.json
  themes/Arcade.json
Due: eslint --fix, tslint --fix

fixed content/cursor
  .vscode/settings.json
  demos/asdf.scss
  grammars/css.ts
  package.json
Due: stylelint --fix, eslint --fix, tslint --fix

fix urls
  .lintstagedrc.yml
  .npmrc
  demos/asdf.scss
  grammars/css.ts
  package.json
Due: stylelint --fix, eslint --fix, tslint --fix

use regex's
  demos/asdf.scss
  grammars/css.ts
  grammars/html.ts
  grammars/nginx.ts
  grammars/sugar.ts
  package.json
  tsconfig.json
Due: stylelint --fix, eslint --fix, tslint --fix

fix variable attributes
  demos/asdf.html
  grammars/html.ts
  package.json
Due: prettier --write, eslint --fix, tslint --fix

update
  demos/asdf.html
  grammars/html.ts
  package.json
Due: prettier --write, eslint --fix, tslint --fix

yay lint-staged is cool now
  .lintstagedrc.yml
Due: none

angular is starting to implement more html grammar
  demos/asdf.html
  grammars/html.ts
  package.json
  themes/Arcade.scss
Due: prettier --write, stylelint --fix, eslint --fix, tslint --fix

support php templates
  Makefile
  grammars/css.ts
  grammars/html.ts
  package.json
  themes/Arcade.scss
Due: stylelint --fix, eslint --fix, tslint --fix

add 🕹
  package.json
Due: none

fix angular language bindings
  package.json
  themes/Arcade.scss
Due: stylelint --fix

update
  package.json
Due: none

fix shell control
  package.json
  themes/Arcade.scss
  tsconfig.json
Due: stylelint --fix
