Repository that70schris/arcade: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.yml:

./**/*.html: prettier --write
./**/*.*css: stylelint --fix
./**/*.ts: eslint --fix

update
  package.json
Due: none

don't use special static coloring
  package.json
  themes/Arcade.color-theme.json
Due: none

update
  Makefile
  README.md
  package.json
  tsconfig.json
Due: none

adjust string color
  package.json
  themes/Arcade.color-theme.json
  themes/Arcade.scss
Due: stylelint --fix

adjust highlighters
  package.json
  themes/Arcade.color-theme.json
Due: none

more backgrounds
  package.json
  themes/Arcade.color-theme.json
Due: none

update
  package.json
  themes/Arcade.color-theme.json
Due: none

tweak ruler color
  package.json
  themes/Arcade.color-theme.json
Due: none

lighten a bit
  package.json
  themes/Arcade.color-theme.json
Due: none

0.21.47
  package.json
Due: none

0.21.48
  package.json
Due: none

add light theme
  .eslintrc.yml
  .vscode/settings.json
  package.json
  themes/Arcade Light.color-theme.json
  themes/Arcade Light.scss
  themes/Arcade.color-theme.json
  themes/Arcade.icon-theme.json
  tokens.ts
Due: stylelint --fix, eslint --fix

dynamically create theme files
  .vscode/settings.json
  Makefile
  README.md
  package.json
  src/grammars/css.ts
  src/grammars/nginx.ts
  src/grammars/sugar.ts
  src/themes/Arcade Light.color-theme.json
  src/themes/Arcade.color-theme.json
  src/themes/color-theme.json
  src/themes/color-theme.scss
  src/themes/process.ts
  themes/Arcade Light.color-theme.json
  themes/Arcade.scss
  tokens.ts
  tsconfig.json
Due: stylelint --fix, eslint --fix

update
  package.json
  src/grammars/nginx.ts
Due: eslint --fix

remove nginx keyword.control
  demos/nginx.conf
  package.json
  src/grammars/nginx.ts
Due: eslint --fix

update
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.yml
  package.json
Due: none

add status bar color for light theme
  package.json
  src/themes/Arcade Light.color-theme.json
Due: none

add activity bar colors
  package.json
  src/themes/Arcade Light.color-theme.json
  src/themes/Arcade.color-theme.json
Due: none

fix statusbar color
  package.json
  src/themes/Arcade Light.color-theme.json
Due: none

evergreen
  package.json
Due: none

fix list selection backgrounds
  package.json
  src/themes/Arcade.color-theme.json
Due: none

add bracket colors
  package.json
  src/themes/Arcade Light.color-theme.json
  src/themes/Arcade.color-theme.json
Due: none

evergreen
  .vscodeignore
  LICENSE.md
  package.json
Due: none

publish again
  .vscode/settings.json
  package.json
Due: none

add icon
  package.json
  src/game.png
Due: none

add language IDs
  package.json
Due: none

fix css syntax
  package.json
  src/grammars/css.ts
  src/grammars/nginx.ts
Due: eslint --fix
